version: '3.4'
networks:
    cluster:
      driver: bridge
    test:
      driver: bridge
services:
  broker:
    build: broker
    networks:
      - cluster
    ports:
      - "18161:8161"
  worker:
    build:
      context: maestro
      args:
        - MAESTRO_VERSION=1.5.1-SNAPSHOT
      target: maestro-worker
    networks:
      - cluster
      - test
    depends_on:
      - broker
      - sut
  inspector:
      build:
        context: maestro
        args:
          - MAESTRO_VERSION=1.5.1-SNAPSHOT
        target: maestro-inspector
      networks:
        - cluster
        - test
      depends_on:
        - sut
        - broker
  agent:
      build:
        context: maestro
        args:
          - MAESTRO_VERSION=1.5.1-SNAPSHOT
        target: maestro-agent
      networks:
        - cluster
        - test
      depends_on:
        - broker
  client:
      build:
        context: maestro
        args:
          - MAESTRO_VERSION=1.5.1-SNAPSHOT
        target: maestro-client
      networks:
        - cluster
      depends_on:
        - worker
        - broker
  reports:
    build:
      context: maestro
      args:
      - MAESTRO_VERSION=1.5.1-SNAPSHOT
      target: maestro-reports
    networks:
      - cluster
    ports:
      - "6500:6500"
    volumes:
      - reports:/maestro
    depends_on:
      - broker
  exporter:
    build:
      context: maestro
      args:
      - MAESTRO_VERSION=1.5.1-SNAPSHOT
      target: maestro-exporter
    networks:
      - cluster
    ports:
      - "9120:9120"
    depends_on:
      - broker

volumes:
  reports:

