apiVersion: apps/v1
kind: Deployment
metadata:
  name: maestro-broker
spec:
  replicas: 1
  selector:
    matchLabels:
      component: broker
      app: maestro
  template:
    metadata:
      labels:
        component: broker
        app: maestro
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: nodetype
                    operator: In
                    values:
                      - maestroperf
      containers:
        - name: broker
          image: maestroperf/maestro-broker:1.5.0-SNAPSHOT
          ports:
            - name: mqtt
              containerPort: 1883
          volumeMounts:
            - mountPath: /opt/maestro/broker/apache-activemq-5.15.3/data
              name: data
      volumes:
        - name: data
          emptyDir: {}

